.w100{
    width: 100%;
}
.pd15{
    padding:15px;
}
.mt10{
    margin-top:10px;
}
.mt25{
    margin-top:25px;
}
.mr5{
    margin-right:5px;
}
.mb20{
    margin-bottom:20px;
}
.text-white {
    color: #fff;
}